mat-sidenav {
    background-color: #222;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
}

.navbar {
    justify-content: space-between;
}

span{
    padding-right: 0.5em;
}

.spacer{
    flex: 1 1 auto;
}

mat-toolbar a{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    float: right;
}

mat-sidenav-container a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}